<h1> Students Index </h1>

<% @students.alphabetical_students.each_with_index do |student, index| %>
    <div id = "#{index}">
        <p><%= student.name %>: <%= student.professor_count %> professor(s)</p>
    </div>
<% end %>